.section_sec{
    @include padding;
    
}

.cabinFood {
    @include flex;
    gap: 12.6rem;
    padding-bottom: 3.2rem;

    &__info {
        width: 60%;

        h3 {
            @include font_h3;
        }

        p {
            @include font_1;
            color: $secondary;
            @include pragraph_m;
        }
    }

    &__img {
        width: 40%;
    }
}
.organicFood{
    @include flex;
    gap: 12.6rem;

    &__info {
        width: 60%;

        h3 {
            @include font_h3;
        }

        p {
            @include font_1;
            color: $secondary;
            @include pragraph_m;
        }
    }

    &__img {
        width: 40%;
    }
}