.roomCards{
@include flex;
@include padding;
gap: 2.4rem;
}
.card{
    &__img{
        img{
            width: 100%;
        }
    }
    &__info{
        h3{
            @include font_1(2.4rem ,600,3.6rem);
        }
        p{
            @include pragraph_m;
            @include font_1;
            color: $secondary;
        }
    }
}
.learn{
    gap: 1.3rem;
span{
    @include font_1;
    color: $primary_color;
}
}