.testemonial{
    @include flex(center);
        flex-direction:column;
        @include padding;
    h3{
        @include font_h3;
    }
    &__img{
        padding:6.2rem 0 4.4rem 0 ;
    }

    p{
        @include font_1;
        @include pragraph_m;
        color: $secondary;
    }
    h4{
        @include font_1 (2rem,500,3rem);
    }
}